.nav {
    background-color: gray;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 90px;
    border: 5px solid black;
    margin: 20px;
    color: white;
    font-family: 'Comic Neue', cursive;

}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    align-items: center;
}

ul li {
    display: inline-block;
    padding: 5px 30px;
    margin: 5px;
    text-align: center;
}

.btn {
    margin: 5px;
    background-color: green;
    color:white;
    border-color: black;
    box-shadow: 3px 6px black;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}

